nav#nav_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: white;
}

ul#nav li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 15px 15px 15px;
}

ul#nav li a {
    text-decoration: none;
    color: black;
}

ul#nav li a:hover {
    color: #F13224;
}

ul#nav li a:active {
    color: #F13224;
}

p#name {
    display: block;
    font-family: 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 90px;
    text-align: center;
/*    width: 50%;*/
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 0;
}

div#home {
    display: inline-block;
    text-align: center;
}

div#ironman {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    float: left;
}

div#short-description-div {
    float: left;
    text-align: left;
    max-width: 60%;
}

a.main_link {
    text-decoration: none;
    color: #F13224;
    cursor: pointer;
}


div#main_content {
    text-align: center;
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    padding-left: 8%;
}

.section {
    min-height: 900px; /* to give the section-ified effect to the page */
    width: 100%;
}

div.container {
    display: block;
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 1.3vw;
    text-align: left;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

ul#pixability_description li {
    padding-bottom: 2%;
}

div#pixability_info {
    float: left;
}

div#pixability_description_div {
    float: left;
    width: 80%;
    height: 10%;
    font-size: 1.0vw;
}

div#pixability_div {
    overflow: hidden;
    width: 100%;
    max-height: 25%;
}

h1, h2, h3, h4, h5, a, p {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
}
